:root {
    --color-principal:#E9E9E9;
    --color-secundario:#DDD5C0;
    --color-terciario:#AAB7A8;
    --font-principal: 'Goudy Bookletter 1911', serif;
    --font-secundaria:'Goudy Bookletter 1911', serif;
}
body {
    background-color: var(--color-principal);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 320px;

}
body p {
    font-family: var(--font-secundaria);
    padding: 0;

}
body h2 {
    font-family: var(--font-principal);
    padding: 0;
}

header {
    width: 100%;
    height: 90vh;
    background-color: var(--color-principal);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.inicio {
    height: 100vh;
    background-image: url(./background/background1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding: 80px;
    animation-name: texto;
    animation-duration: 5s;
    display:grid;
    place-items: center;


}@keyframes texto {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.boton {
   border: 1px solid var(--color-principal);
   background-color: var(--color-terciario);
   color: var(--color-principal);
   padding: 10px 30PX;
   text-decoration: none;
}
.boton:hover {
    color: var(--color-terciario);
    background-color: var(--color-principal);
    border: 1px solid var(--color-terciario);
    padding: 10px 30PX;
    text-align: center;
    text-decoration: none;
}

h1 {
    color: #332C19;
    font-family: var(--font-principal);
    font-size: 60px !important;
    padding: 0;
    margin: 0;
    max-width: 320px;
}

header p {
    color: var(--color-terciario);
    font-family: var(--font-secundaria);
}

.countdown {
    background-color: var(--color-secundario);
    color: var(--color-principal);
    text-align: center;
    padding: 20px 0;
}
.countdown p {
    margin: 0;

}

/* IMAGEN UNO*/

.lovestory {
    width: 100%;
    height: auto;
    background-color: var(--color-terciario);
    color: var(--color-principal);
    display: grid;
    grid-template-columns: 1fr;
}
.lovestory-text {
    padding: 60px 40px;
}

.lovestory-img {
    width: 100%;
    height: 80VH;
    background-image: url(img/1.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}


.info {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px; 
    background-image: url(./background/5.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--color-principal);
}
.info p {
    font-size: 20px;

}
.animado {
    width: 340px;
    padding: 40px;
}

.info h2 {
    color: #000000;
    font-size: 58px;
    padding: 10px;
}

.info .icono {
    width: 40px;
}
.info-cards {
    padding: 40px ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
   
}


.info-cards h2 {
    font-size: 40px;
    color: var(--color-terciario);

}


.rsvp {
    width: 100%;
    height: 80vh;
    background-color: var(--color-terciario);

}
.rsvp-card{
    background-color: var(--color-terciario);
    width: 100%;
    height: 80vh;
    padding: 70px;
    margin:auto;
    background-image: url(./background/background2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 520px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.rsvp-text {
    max-width: 240px;
    gap: 0;
    padding: 0;
    margin: 0;
}
.rsvp-text img {
    width: 100px;
}
.rsvp-card h2 {
    color: var(--color-principal);
    padding: 0;
    font-size: 40px;

}
.rsvp-card p{
    color: var(--color-principal);
    padding: 0px 8px;
    font-size: 20px;
    margin: 0;
   

}

.dresscode {
    background-color: var(--color-terciario);
    color: var(--color-principal);
    padding: 40px;
    text-align: center;
}
.dresscode p {
    padding: 0;
    margin: 0;
}
.regalos {
    width: 100%;
    height: 80vh;
    background-color: var(--color-principal);
    background-image: url(./background/grupo23.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    display: grid;
    place-items: center;

}

.regalos img {
    width: 40px;

}
.regalos-card{
    width: 100%;
    height: auto;
    padding: 40px;
    margin:auto auto;
    max-width: 520px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    
}
.regalos-card h2 {
    color: var(--color-terciario);
    padding: 0;
    font-size: 40px;

}
.regalos-card p {
    padding: 0;
    margin: 0;
    font-size: 20px;

    
}

#contenedor {
    width: auto;
    height: 60px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor > div {
    display: flex;
}

span#enlace {
    color: var(--color-terciario);
    font-size: 1em;
    padding: 8px ;
    text-align: center;
    background-color: var(--color-principal);

    border: 1px solid var(--color-terciario);
    margin-top: 10px;

}

button#copiador {
    background-color: var(--color-principal);
    color: white;
    border: none;
    padding: 8px;    
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    border: 1px solid var(--color-terciario);
    margin-top: 10px;
}

.regalos-card h2 {
    color: var(--color-terciario);
    padding: 0;
}
.regalos-card p{
    color: var(--color-terciario);
    padding: 4px 0;
    font-size: 20px;

}
.final {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-color: var(--color-principal);
    background-image:url(./background/5.png);
    

}
.end {
    margin: auto;
    max-width: 540px;
    text-align: center;
    padding: 40px 80px;
    color: var(--color-terciario);
}


.end h2{
    font-size: 60px;
    color: #353535;
}
.end p{
    color: #353535;
}




footer {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: var(--color-terciario);
    color: var(--color-principal);
    padding: 40px;
}
footer .contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
footer img {
    width: 60px;
}
.contenido ul {
    display: flex;
    list-style: none;
    gap: 20px;

}

.contenido a {
    color: var(--color-principal);
}
.contenido a:hover {
    color: var(--color-secundario);
}






@media (max-width: 660px) {
    .lovestory {
        grid-template-columns: 1fr;
    }
    .lovestory-img {
        height: 50vh;
    }
    .info-cards {
        flex-direction: column;
    }
    .final {
        background-size: cover;
       
    }
 
    
}
